@charset "utf-8";

/*--[ NAVIGATION BUTTON ]--*/
#TouchMe{
	display:none;
	position:fixed;
	top:10px;
	right:10px;
	z-index:3;
	width:50px;
	height:50px;
	overflow:hidden;
	-moz-border-radius:100%;
	-o-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	cursor:pointer;
	background-color:#ea5859;
	text-align:center;
	-webkit-transform:translateX(0);
	-moz-transform:translateX(0);
	-ms-transform:translateX(0);
	-o-transform:translateX(0);
	transform:translateX(0);
	-webkit-transition:.2s -webkit-transform ease-in-out;
	-moz-transition:.2s -moz-transform ease-in-out;
	-ms-transition:.2s -ms-transform ease-in-out;
	-o-transition:.2s -o-transform ease-in-out;
	transition:.2s transform ease-in-out;
	-webkit-tap-highlight-color:transparent;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-backface-visibility:hidden;
}

#TouchMe.touch-on{
	-webkit-transform:translateX(-240px);
	-moz-transform:translateX(-240px);
	-ms-transform:translateX(-240px);
	-o-transform:translateX(-240px);
	transform:translateX(-240px);
	-webkit-backface-visibility:hidden;
}

#TouchMe i.fa{
	line-height:50px;
	font-size:32px;
	color:#fff;
}


/*--[ MOBILE NAVIGATION ]--*/
#cameron-mobile-nav{
}

#touch-scroll{
	visibility:hidden;
	position:fixed;
	top:0;
	right:0;
	z-index:-1;
	height:100%;
	overflow:hidden;
	background-color:#f4f4f4;
	-webkit-transition:visibility 0s linear .2s;
	-moz-transition:visibility 0s linear .2s;
	-ms-transition:visibility 0s linear .2s;
	-o-transition:visibility 0s linear .2s;
	transition:visibility 0s linear .2s;
}

.cameron-mobile-nav #touch-scroll{
	visibility:visible;
	z-index:2;
	-webkit-transition:z-index 0s linear .2s;
	-moz-transition:z-index 0s linear .2s;
	-ms-transition:z-index 0s linear .2s;
	-o-transition:z-index 0s linear .2s;
	transition:z-index 0s linear .2s;
}

/* Loginfo */
#mobile-sign{
	width:232px;
	padding:4px;
	overflow-x:hidden;
	background-color:#ea5859;
}

#mobile-sign .mobile-home{
	float:left;
}

#mobile-sign .mobile-sign{
	float:right;
	margin:0;
	padding:0;
	list-style:none;
}

#mobile-sign li{
	float:left;
	margin:0;
	padding:0;
}

#mobile-sign a{
	display:block;
	max-width:64px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	padding:8px;
	text-align:center;
	font-family:'Nanum Gothic','Malgun Gothic',돋움,sans-serif;
	font-size:9px;
	font-weight:400;
	color:#fff;
}

#mobile-sign a .fa{
	font-size:24px;
	font-weight:normal;
}

#mobile-sign a.mobile-title span{
	position:relative;
	top:-2px;
	font-size:16px;
	font-weight:700;
}

#mobile-sign a.mobile-title .fa{
	position:relative;
	font-size:21px;
}


/* Navigation */
#mobile-nav{
	display:none;
	position:relative;
	width:240px;
	height:100%;
	overflow:hidden;
}

.cameron-mobile-nav #mobile-nav{
	display:block;
}

#mobile-nav ul{
	margin:0;
	padding:0;
	list-style:none;
}

#mobile-nav > ul{
	position:relative;
	height:100%;
	overflow:auto;
	-webkit-overflow-scrolling:touch;
}

#mobile-nav li{
	margin:0;
	padding:0;
}

#mobile-nav a{
	position:relative;
	display:block;
	font-family:'Nanum Gothic','Malgun Gothic',돋움,sans-serif;
	font-weight:700;
}

#mobile-nav a.nav1st{
	padding:16px 0 16px 12px;
	background-color:#fff;
	border-top:1px solid #dedede;
	border-left:1px solid #dedede;
	line-height:1.3;
	font-size:15px;
	color:#333;
}

#mobile-nav li.nav-bottom a.nav1st{
	height:32px;
	background:none;
}

#mobile-nav a.nav2nd{
	padding:16px 0 16px 16px;
	background-color:#f4f4f4;
	border-top:1px solid #dedede;
	border-left:1px solid #dedede;
	font-size:14px;
	color:#666;
}

#mobile-nav a.nav3rd{
	padding:14px 0 14px 24px;
	background-color:#f4f4f4;
	border-top:1px solid #dedede;
	border-left:1px solid #dedede;
	font-size:13px;
	color:#666;
}

#mobile-nav li.current1 a.nav1st{
	background-color:#ea5859;
	color:#fff;
}

#mobile-nav li.current2 a.nav2nd,
#mobile-nav li.current3 a.nav3rd{
	color:#ea5859;
}

#mobile-nav a i.fa-angle-down,
#mobile-nav a.nav1st i.fa-angle-right{
	position:absolute;
	right:14px;
	top:50%;
	margin-top:-6px;
	font-size:11px;
}


/*--[ CAMERON BODY ]--*/
#cameron-body{
	-webkit-transform:translateX(0);
	-moz-transform:translateX(0);
	-ms-transform:translateX(0);
	-o-transform:translateX(0);
	transform:translateX(0);
	-webkit-transition:.2s -webkit-transform ease-in-out;
	-moz-transition:.2s -moz-transform ease-in-out;
	-ms-transition:.2s -ms-transform ease-in-out;
	-o-transition:.2s -o-transform ease-in-out;
	transition:.2s transform ease-in-out;
	-webkit-backface-visibility:hidden;
}

#cameron-body.slide-x{
	height:100%;
	overflow-y:hidden;
	-webkit-transform:translateX(-240px);
	-moz-transform:translateX(-240px);
	-ms-transform:translateX(-240px);
	-o-transform:translateX(-240px);
	transform:translateX(-240px);
	-webkit-backface-visibility:hidden;
}

@media screen and (max-width:991px){
	#TouchMe{
		display:block;
	}
}

@media screen and (min-width:992px){
	html,body{height:auto !important; overflow-x:auto !important}
	#TouchMe.touch-on{
		display:none;
	}
	.cameron-mobile-nav #touch-scroll{
		visibility:hidden;
		z-index:-1;
	}
	#cameron-body.slide-x{
		height:auto;
		-webkit-transform:translateX(0);
		-moz-transform:translateX(0);
		-ms-transform:translateX(0);
		-o-transform:translateX(0);
		transform:translateX(0);
	}
}

/*--[bxSlider Fix]--*/
.bx-viewport {
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
	-ms-transform: translatez(0);
	-o-transform: translatez(0);
	transform: translatez(0);
}